<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body class="text-center">
    <%- include("partials/nav.ejs") %>
    <img class="m-3 rounded-5" src="<%=randomImage%>" width="400">

    <%- include("partials/footer.ejs") %>

</body>
</html>