body {
    background-image: url("https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY.jpg");
}

footer {
    margin-top: 20px;
    border-top: dotted;
    color: grey;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}

.row {
    align-items: center;
}

img {
    width: 90%;
    height: auto;
}

#homeDiv {
    align-items: center;
}

#homePic {
    height: 50%;
    width: auto;
    margin: 0 auto;
}